@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--color-void);
    color: var(--color-fg);
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
  }
}
