[package]
name = "sim_world"
version = "0.1.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
sim_core = { path = "../sim_core" }
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
rand = "0.8"
